/* Builtin Dropdown */
$options-container-bg: #fdfdfc;
$options-container-triangle-size: 0.8rem;

// Dropdown
.builtin-wml-dropdown {
  position: relative;
  width: 100%;
  height: 100%;

  align-items: center;
  display: flex;
  justify-content: center;
}

// Icon
.builtin-wml-dropdown > .bwmld-icon {
  cursor: pointer;

  width: 2.4rem;
  height: 2.4rem;
  padding: 0.5rem;

  color: #4e4a47;
}

.builtin-wml-dropdown > .bwmld-icon > svg {
  transform: translateY(-2px);
}

// Options Container
.builtin-wml-dropdown > .bwmld-options-container {
  position: absolute;
  z-index: 1;
  visibility: hidden;

  min-width: 180px;
  height: auto;
  top: 100%;
  padding: 0.5rem;
  margin: ($options-container-triangle-size / 2) 0 0 0;

  border-radius: 20px;
  background-color: $options-container-bg;
  box-shadow: 0 15px 40px 0 rgba(181, 181, 179, 0.2);
}

.builtin-wml-dropdown:hover > .bwmld-options-container {
  visibility: visible;
}

.builtin-wml-dropdown:hover > .bwmld-options-container:before {
  content: "";
  display: block;
  position: absolute;

  width: 0;
  height: 0;
  top: -$options-container-triangle-size + 0.1rem;
  left: 50%;
  transform: translateX(-50%);

  border-left: $options-container-triangle-size solid transparent;
  border-right: $options-container-triangle-size solid transparent;
  border-bottom: $options-container-triangle-size solid $options-container-bg;
}

// Option
.builtin-wml-dropdown > .bwmld-options-container > .bwmld-option {
  position: relative;
  cursor: pointer;

  padding: 1rem;
  margin: 0.2rem 0;

  border-radius: 15px;
  color: #22282f;
  background-color: transparent;
}

.builtin-wml-dropdown > .bwmld-options-container > .bwmld-option:hover {
  background-color: #f0f0ed;
}

.builtin-wml-dropdown > .bwmld-options-container > .wml-option-active,
.builtin-wml-dropdown > .bwmld-options-container > .wml-option-active:hover {
  background-color: #e6e6e6;
}

/* Builtin Prompt */
.builtin-wml-prompt {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;

  background-color: rgb(247, 247, 245);
}

.builtin-wml-prompt > .bwmlp-close {
  display: inline;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;

  color: #c2c2c2;
}

.builtin-wml-prompt > .bwmlp-close:hover {
  color: #999999;
}

.builtin-wml-prompt > .bwmlp-prompt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.builtin-wml-prompt > .bwmlp-prompt-container > .bwmlp-options-container {
  margin: 2rem;
}

.builtin-wml-prompt
  > .bwmlp-prompt-container
  > .bwmlp-options-container
  > .bwmlp-option {
  position: relative;
  cursor: pointer;
  text-decoration: none;

  padding: 1rem;
  margin: 0.2rem 0;

  border-radius: 15px;
  color: #22282f;
  background-color: white;
}

.builtin-wml-prompt
  > .bwmlp-prompt-container
  > .bwmlp-options-container
  > .bwmlp-option:hover {
  background-color: #f0f0ed;
}
